.navbar-brand {
    font-family: 'Cedarville Cursive', cursive;
    background: linear-gradient(to top, #9c37c4 0%, #e2d9ee 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

li {
    line-height: 1.2em;
}